nav > ul {
    display: flex;
    
}

nav  li{
    padding: 20px;
    list-style: none;
}

nav > ul :hover{
    background-color: aquamarine;
}

nav > ul > li  a{
    text-decoration: none;
    color: black;
    
}

nav li .dropdown{
    display: none;
}

nav li:hover .dropdown{
    display: block;
    position: absolute;
    background-color: aquamarine;
    padding: 10px;
}

nav li:hover .dropdown>li:hover{
background-color: red;
}
